@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
}

#contact-container h3 {
    font-family: 'courier', sans-serif;
    text-align: center;
    font-size: 3em;
    margin: 10px 0;
    text-decoration: underline;
    text-transform: capitalize;
}

#contact-container>div {
    background: #eee;
    padding: 0.5em;
}

#contact-container>div:nth-child(odd) {
    background: #ddd;
}

#contact-container .box1 {
    grid-row: 1;
    grid-column: 1/span end;
}

#contact-container .box1 .flex-box1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#contact-container .box1-1 {
    width: 60vw;
    margin: 15px;
}

#contact-container .box1-1 form {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    line-height: 1.5em;
    padding: 15px;
    font-size: 1.5em;
    background: #eee;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

#contact-container .box1-1 input {
    width: 80%;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-family: 'courier', sans-serif;
    font-size: 1.01em;
    font-style: italic;
    font-weight: 520;
}

#contact-container .box1-1 button {
    width: 100px;
    font-size: 1.1em;
    background: #575757;
    border-radius: 15px;
    color: #fff;
    padding: 5px;
}

#contact-container .box1-1 button:hover {
    transform: scale(1.02);
    cursor: pointer;
    background: #ddd;
    color: black;
    padding: 5px;
}

#contact-container .box1-1 textarea {
    width: 50%;
    height: 200px;
    border: 2px solid #ddd;
    border-radius: 10px;
    max-width: 100%;
    font-size: 1.2em;
}

#contact-container .box1-2 {
    width: 40vw;
    border: 2px solid black;
    margin: 15px;
    border-radius: 10px;
}

#contact-container .box1-2 img {
    width: 70px;
    margin: 0px 15px;
}

#contact-container .box1-2 span {
    font-size: 2em;
    line-height: 2em;
}

#contact-container .box1-2 a {
    text-decoration: none;
}

@media all and (max-width: 768px) {
    #contact-container .box1-1{
        width: 70vw;
        margin: 0;
    }
    #contact-container .box1-1 form {
        font-size: 1.2em;
    }

    #contact-container h3 {
        font-size: 1.5em;
    }
    #contact-container .box1-2{
        width: 60vw;
    }

    #contact-container .box1-2 img {
        width: 35px;
        margin: 0 8px;
    }

    #contact-container .box1-2 span {
        font-size: 1em;
    }

    #contact-container .box1-1 input {
        font-size: 0.8em;
        font-style: italic;
        font-weight: 500;
    }

    #contact-container .box1-1 textarea {
        font-size: 0.9em;
        width: 65%;
    }

}